{% extends 'base.html' %}
{% block content %}

{% comment %} {% include  'Singles/message_register.html' %} {% endcomment %}
    <div class="container">

        <h2 class="login">Login</h2>
        <div class="infodiv">   
            <div class="input-group">
                <label class="input-group-addon" id="basic-addon3">Email</label>
                <input type="text" class="form-control control" id="basic-url" aria-describedby="basic-addon3">
            </div>
            <div class="input-group">
                <label class="input-group-addon" id="basic-addon1">Password</label>
                <input type="password" class="form-control control" placeholder="Password" aria-describedby="basic-addon1">
            </div>
        </div>    
        <button class="buttonsub" type="submit">Log In</button><br>

    </div>    

{% endblock %}